@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Home Page</h2>
    <p>Welcome to EmrecNotes best note keeping application ever.</p>
    <a href="/home/register">
        <p>Register</p>
    </a>
    <a href="/home/login">
        <p>Login</p>
    </a>
</div>
