
@{
	ViewData["Title"] = "Create Note";
}

<div>
	<div>
		<form action="create" method="post">
			<div>
				<input id="title" name="Title"></input>
			</div>
			<div>
				<textarea style="resize : none;"id="content" name="Content" rows="30" cols="100"></textarea>
			</div>
			<div>
				<button>Submit</button>
			</div>
		</form>
	</div>
</div>


